@{
    ViewBag.Title = "Index";
}

@model AHBC_JJ2.Models.ProductsInputModel

<h2>Products</h2>

<div class="container">

    @using (Html.BeginForm("Edit", "Products", FormMethod.Post))
    {
        <div class="form-group">
            @Html.LabelFor(x => x.Name)
            @Html.TextBoxFor(x => x.Name, new { @class = "form-control", placeholder = "Enter product name" })
            @Html.ValidationMessageFor(x => x.Name, "Please enter a valid product name", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.Description)
            @Html.TextBoxFor(x => x.Description, new { @class = "form-control", placeholder = "Enter description" })
            @Html.ValidationMessageFor(x => x.Name, "Please enter a valid product description", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.Price)
            @Html.TextBoxFor(x => x.Price, new { @class = "form-control", placeholder = "Enter price" })
            @Html.ValidationMessageFor(x => x.Name, "Please enter a vallid practice", new { @class = "text-danger" })
        </div>
        <button type="submit" class="btn-primary" onclick='window.location = "@Url.Action("Index", "Home")";'>Add Product</button>

    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}